.Adminsignup{
  height: 90vh;
  width:90vw;
  display: flex;
  justify-content: center;
  align-items: center;
 


}
.Adminsignup form{
  border:2px solid;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: linear-gradient(120deg,skyblue);
  align-items: center;
  height: 250px;
  width: 400px;
  justify-content: center;
}
.Adminsignup input{
  /* margin: 10px auto; */
  display: inline;
  justify-items: last baseline;


}