.AdminLogin{
  display: flex;
  justify-content: center;
  height:60vh ;
  width: 110vw;
 align-items: center;
}
.AdminLogin form
{
  text-align: center;
  border:  3px solid black;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: linear-gradient(120deg,skyblue);
  align-items: center;
}
.AdminLogin input{
  margin: 10px auto;
}
/* /* .AdminLogin button{
  padding: 5px 10px;
  font-size: 20 px;
  background-color: crimson;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder; */
  



.AdminLogin input::placeholder{
  color:blue

}
p a{
  font-size: 15px;
  text-decoration: none;
  color: blue;
  font-weight: bolder;
  

}
p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}


.button-87 {
margin: 10px;
padding: 15px 30px;
/* text-align: center; */
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
border-radius: 10px;
display: flex;
justify-content: center;
border: 0px;
font-weight: 700;
box-shadow: 0px 0px 14px -7px #f09819;
background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
cursor: pointer;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;

align-items: center;
}

.button-87:hover {
background-position: right center;
/* change the direction of the change here */
color: #fff;
text-decoration: none;
align-items: center;
justify-content: center;
}

.button-87:active {
transform: scale(0.95);
}