.edit{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: cursive;
}

.edit label{
  margin: 10px 20px;
}
.edit form{
  margin: 10px 20px;
  background-color: rgb(255, 163, 43);
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
}
.edit button{
  transform: translate(200px);
}