.sub_lp{
  height:300px;
  width: 400px;
  display: flex;
  justify-content: center;
      align-items: center;

  border: 2px solid black;
  border-radius: 10px;
  
  
}
.LandingPage{
  text-align: center;
  display: flex;
  height: 90vh;
  width: 90vw;
  align-items: center;
  justify-content: center;
  
}
#i2
{
  height: 160px;
  width: 160px;
  margin-bottom: 25px;
  transition: .5s;
  
  
}
#i1
{
  height: 160px;
  width: 160px;
  margin-bottom: 25px;
  transition: .5s;
}
.sub_lp img:hover{
  transform: scale(1.1);
}
.sub_lp a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}